.header__logo-link {
    width: 142px;
    height: 33px;
    display: block;
    text-decoration: none;
    cursor: pointer;
    background-image: url(../../../images/logo/logo_theme_dark.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

@media screen and (max-width: 767px) {
    .header__logo-link {
        width: 104px;
        height: 24px;
    }
}
