.popup__container {
    width: 100%;
    max-width: 430px;
    min-width: 282px;
    padding: 34px 36px 37px;
    position: relative;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    box-sizing: border-box;
}

@media screen and (max-width: 540px) {
    .popup__container {
        padding: 25px 22px 25px;
    }
}