.profile {
    width: 100%;
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

@media screen and (max-width: 540px) {
    .profile {
        flex-direction: column;
        padding-top: 42px;
    }
}