.popup__submit {
    width: 100%;
    max-width: 358px;
    height: 50px;
    margin-top: 48px;
    color: #fff;
    background-color: #000;
    border: none;
    border-radius: 2px;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    cursor: pointer;
    transition: opacity .2s linear;
}

.popup__submit:hover {
    opacity: .8;
}

@media screen and (max-width: 540px) {
    .popup__submit {
        height: 46px;
        margin-top: 45px;
        font-size: 14px;
        line-height: 17px;
    }
}