.profile__edit-info {
    padding: 0;
    margin-left: auto;
    width: 24px;
    height: 24px;
    border: 1px solid #fff;
    background-image: url(../../../images/edit.svg);
    background-color: #000;
    background-size: 10px 10px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: opacity .1s linear;
}

.profile__edit-info:hover {
    opacity: .6;
}

@media screen and (max-width: 540px) {
    .profile__edit-info {
        width: 18px;
        height: 18px;
    }
}