@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);

@import url(../blocks/page/page.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo-link/header__logo-link.css);

@import url(../blocks/content/content.css);

@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__edit-avatar/profile__edit-avatar.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__name-container/profile__name-container.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__description/profile__description.css);
@import url(../blocks/profile/__edit-info/profile__edit-info.css);
@import url(../blocks/profile/__add-post/profile__add-post.css);

@import url(../blocks/posts/posts.css);
@import url(../blocks/posts/__grid/posts__grid.css);

@import url(../blocks/post/post.css);
@import url(../blocks/post/__img/post__img.css);
@import url(../blocks/post/__trash/post__trash.css);
@import url(../blocks/post/__title-area/post__title-area.css);
@import url(../blocks/post/__title/post__title.css);
@import url(../blocks/post/__like/post__like.css);
@import url(../blocks/post/__like/_liked/post__like_liked.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);

@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/_type/popup_type_image.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__close/popup__close.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/__form/popup__form.css);
@import url(../blocks/popup/__text-input/popup__text-input.css);
@import url(../blocks/popup/__text-input/_type/popup__text-input_type_error.css);
@import url(../blocks/popup/__input-error/popup__input-error.css);
@import url(../blocks/popup/__input-error/_active/popup__input-error_active.css);
@import url(../blocks/popup/__submit/popup__submit.css);
@import url(../blocks/popup/__image-container/popup__image-container.css);
@import url(../blocks/popup/__big-image/popup__big-image.css);
@import url(../blocks/popup/__figcaption/popup__figcaption.css);


/* * {
    outline: 1px solid yellowgreen;
} */