.popup__text-input {
    font-weight: 400;
    font-size: 14px;
    padding-top: 30px;
    line-height: 17px;
    padding-bottom: 13px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    box-sizing: border-box;
}